{{template "layout.tmpl" .}}

{{define "content"}}
<main>
    <h1>Login</h1>
    <form method="post" action="/login">
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="input your email address"
                value='{{$.Form.Get "email"}}' required>
        </div>
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="uwu" value='{{$.Form.Get "username"}}'
                required />
        </div>

        {{if .Err}}
        <p> Could not login: <code>{{.Err}}</code></p>
        {{end}}
        <button>Login</button>
    </form>
</main>
{{end}}